<div style="overflow-x:hidden; overflow-y: hidden;">
  <div class="container-fluid" id="nav-bar">
    <!-- <div class="row">
      <div class="col-sm-12 a1">
        <img src="assets/intern1.png" alt="Logo">
      </div>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav-bar">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="https://easyeda.com/editor">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://easyeda.com/page/pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://oshwlab.com/">Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://docs.easyeda.com/en/FAQ/Contact-Us/index.html">Contact Us</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="easyeda">Easy EDA Designer</a>
            </li> -->
          </ul>
            <div class="d-flex">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" routerLink="login" style="cursor: pointer;">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="register" style="cursor: pointer;">Register</a>
                </li>
              </ul>
            </div>
          <!-- <div class="d-flex">
            <img src="assets/intern3.png" alt="Search" class="me-2" style="cursor: pointer;" routerLink="search">
            <img src="assets/intern4.png" alt="Icon 4" class="me-2">
            <img src="assets/intern5.png" alt="Icon 5">
          </div> -->
        </div>
      </div>
    </nav>
  </div>
  

  

  <div class="row">
    <div class="col-sm-12">
      <img src="assets/intern7.jpg" style="width: 100%;">
    </div>
      <div class="top-left">
        <br><h1>An Easier and Powerful Online PCB Design Tool</h1>
        <br><h3>2,607,072 Engineers Chose EasyEDA for 11,470,002 Designs</h3>
        <br><a href="https://easyeda.com/page/download"><button class="a5">Download</button></a>

      </div>
  </div>

  <div class="row">
    <div class="col-sm-12 a6">
      <br><h2 class="million">More Than 1 Million Free Libraries</h2>
      <br><p class="more">More than 1 million real-time updated components have been created,
      <br>letting you focus on the design, and you can create or import your own common libraries.</p>
      <br><h2 class="LCSC">Integrated <b style="color: blue;">LCSC</b> Component catalog</h2>
      <br><p class="more">Benefit from China’s leading electronic components distributor - <b style="color: blue;">LCSC</b> ,
      <br>EasyEDA supports direct links to more than 200,000 real-time, in-stock components at LCSC .
      <br>Designers can refer to stocks, prices, and order at any time during design.  </p>
      <a href="https://easyeda.com/components?docType=schematic"><button class="LearnMore">Learn More</button></a>
    </div>
  </div>  

  <div class="row">
    <div class="col-sm-12">
      <img src="assets/intern9.jpg" alt="circuit" style="width: 100%;">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 a7">
      <br><h2 class="million">The Next Generation of
        <br>PCB Design Tool</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1 a8">
    </div>
    <div class="col-sm-2 a8">
      <p>Schematic <br>Capture</p>
      <a href="https://image.easyeda.com/videos/Schematic-Theme.mp4"><img src="assets/intern10.png"></a>
    </div>
    <div class="col-sm-2 a8">
      <p>PCB <br>Design</p>
      <a href="https://image.easyeda.com/videos/3D-View.mp4"><img src="assets/intern11.png"></a>
    </div>
    <div class="col-sm-2 a8">
      <p>Libraries <br>Design</p>
      <a href="https://image.easyeda.com/videos/SchematicLib-Wizard.mp4"><img src="assets/intern12.png"></a>
    </div>
    <div class="col-sm-2 a8">
      <p>Project <br>Management</p>
      <a href="https://image.easyeda.com/videos/Version-Control.mp4"><img src="assets/intern13.png"></a>
    </div>
    <div class="col-sm-2 a8">
      <p>Team <br>Collaboration</p>
      <a href="https://image.easyeda.com/videos/Team-Collaboration.mp4"><img src="assets/intern14.png"></a>
    </div>
    <div class="col-sm-1 a8">
    </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <img src="assets/intern15.jpg" style="width: 100%;">
    </div>
    <div class="top-left-1">
      <br><a href="https://image.easyeda.com/videos/Footprint-Manager.mp4"><button class="buttons a9">Footprint Manager</button></a>
    </div>
    <div class="top-left-2">
      <br><a href="https://image.easyeda.com/videos/Schematic-Theme.mp4"><button class="buttons a9">Schematic Theme</button></a>
    </div>
    <div class="top-left-3">
      <br><a href="https://image.easyeda.com/videos/3D-View.mp4"><button class="buttons a9">3D View</button></a>
    </div>
    <div class="top-left-4">
      <br><a href="https://image.easyeda.com/videos/Dimension-Check.mp4"><button class="buttons a9">Dimention Check</button></a>
    </div>
    <div class="top-left-5">
      <br><a href="https://image.easyeda.com/videos/Version-Control.mp4"><button class="buttons a9">Version Control</button></a>
    </div>
    <div class="top-left-6">
      <br><a href="https://image.easyeda.com/videos/Design-Manager.mp4"><button class="buttons a9">Design Manager</button></a>
    </div>
    <div class="top-left-7">
      <br><a href="https://image.easyeda.com/videos/SchematicLib-Wizard.mp4"><button class="buttons a9">SchematicLib Wizard</button></a>
    </div>
    <div class="top-left-8">
      <br><a href="https://image.easyeda.com/videos/Auto-Router.mp4"><button class="buttons a9">Auto Router</button></a>
    </div>
    <div class="top-left-9">
      <br><a href="https://image.easyeda.com/videos/Team-Collaboration.mp4"><button class="buttons a9">Team Collaboration</button></a>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <img src="assets/intern16.jpg" style="width:100%">
    </div>
    <div class="top-left-10">
      <br><h2 class="Hundreds">Hundreds of Thousands of<br>Open Source/Private Projects</h2>
      <br><p class="You">You can create private or public projects including spice circuit simulations
      <br>A massive collection of open source projects helps you find more interesting projects and speeds up your design </p>
      <a href="https://oshwlab.com/"><button class="LearnMore1">Learn More</button></a>
    </div>
    
    <div class="col-sm-3 a11">
      <img src="assets/intern17.png">
      <br><a href="https://easyeda.com/editor#id=14e33b552b8b41c89883ffe32aff7eac|876b5fa846e94bd79db8506176133d5c"><button class="STM">STM32F103VE_Board_JX</button></a>
    </div>
    <div class="col-sm-3 a12">
      <img src="assets/intern18.png">
      <br><br><a href="https://easyeda.com/editor#id=bdf762207af14606a487e0397a699945|c4f89cb2378747aea08a6273e21ef711"><button class="STM1">STM8S0001J3M3_JX</button></a>
    </div>
    <div class="col-sm-3 a13">
      <img src="assets/intern19.png">
      <br><br><a href="https://easyeda.com/editor#id=dc7aba043ac148f894cc2aaffe1cfdae|ea2ef1c42cbf4e56aebfe658b3c7d545"><button class="DC">DC_5V/3V3_TWO Channel_JX</button></a>
    </div>
    <div class="col-sm-3 a14">
      <img src="assets/intern20.png">
      <br><a href="https://easyeda.com/editor#id=0abba5488e6d47379e00e11762fc4e7a|742194550c8146c1b83fba69cbf9e34d"><button class="G">2.4G_Telecontrol_Board_JX</button></a>
    </div>

    <div class="top-left-11">
      <h2 class="An">An Easier and Powerful Online PCB Design Tool</h2>
      <p class="Engineers"><b>2,640,578</b> Engineers Chose EasyEDA</p>
      <a href=""><button class="TryNow">Try Now</button></a>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <img src="assets/intern25.jpg" style="width:100%">
    </div>
    <div class="top-left-12">
      <a href="https://easyeda.com/page/pricing"><img src="assets/intern21.png"></a>
    </div>
    <div class="top-left-13">
      <a href="https://easyeda.com/page/download"><img src="assets/intern22.png"></a>
    </div>
    <div class="top-left-14">
      <img src="assets/intern23.png">
    </div>
    <div class="top-left-15">
      <a href="https://docs.easyeda.com/en/FAQ/Contact-Us/index.html"><img src="assets/intern24.png"></a>
    </div>
    <div class="top-left-16">
      <br><p><b>Pricing</b></p>
    </div>
    <div class="top-left-17">
      <br><p><b>Download</b></p>
    </div>
    <div class="top-left-18">
      <br><p><b>One Stop</b></p>
    </div>
    <div class="top-left-19">
      <br><p><b>Contact Us</b></p>
    </div>
    
    <div class="top-left-20">
      <br><p class="a15"><b>Policy Terms</b></p>
      <a href="https://easyeda.com/page/legal" style="text-decoration: none; color: #7E7E93;"><p class="a16">Legal</p></a>
      <a href="https://easyeda.com/page/privacy" style="text-decoration: none; color: #7E7E93;"><p class="a16">Privacy</p></a>
      <a href="https://easyeda.com/page/contribute" style="text-decoration: none; color: #7E7E93;"><p class="a16">Contribute</p></a>
      <a href="https://easyeda.com/page/thanks" style="text-decoration: none; color: #7E7E93;"><p class="a16">Thanks</p></a>
    </div>
    
    <div class="top-left-21">
      <br><p class="a15"><b>Solution</b></p>
      <a href="https://easyeda.com/editor" style="text-decoration: none; color: #7E7E93;"><p class="a16">Online Editor</p></a>
      <a href="https://easyeda.com/on-premises-hosting" style="text-decoration: none; color: #7E7E93;"><p class="a16">On-premises Hosting</p></a>
      <a href="https://docs.easyeda.com/en/DocumentFormat/0-EasyEDA-File-Format-Index/index.html" style="text-decoration: none; color: #7E7E93;"><p class="a16">Document Format</p></a>
      <a href="https://docs.easyeda.com/en/API/1-How-to-Use-API/index.html" style="text-decoration: none; color: #7E7E93;"><p class="a16">API</p></a>
    </div>

    <div class="top-left-22">
      <br><p class="a15"><b>Help</b></p>
      <a href="https://easyeda.com/forum" style="text-decoration: none; color: #7E7E93;"><p class="a16">Forum</p></a>
      <a href="https://docs.easyeda.com/en/FAQ/Editor/index.html" style="text-decoration: none; color: #7E7E93;"><p class="a16">Tutorial</p></a>
      <a href="https://easyeda.com/page/update-record" style="text-decoration: none; color: #7E7E93;"><p class="a16">Update Notice</p></a>
      <a href="https://docs.easyeda.com/en/FAQ/Contact-Us/index.html" style="text-decoration: none; color: #7E7E93;"><p class="a16">Contact Us</p></a>
    </div>

    <div class="top-left-23">
      <br><p class="a15"><b>Services</b></p>
      <a href="https://www.lcsc.com/?href=easyeda-footer&source=easyeda" style="text-decoration: none; color: #7E7E93;"><p class="a16">Parts Order - LCSC</p></a>
      <a href="https://jlcpcb.com/?href=easyeda-home" style="text-decoration: none; color: #7E7E93;"><p class="a16">PCB Order - JLCPCB</p></a>
      <a href="https://oshwlab.com/" style="text-decoration: none; color: #7E7E93;"><p class="a16">Open Source Hardware - OSHWLab</p></a>
    </div>

    <div class="top-left-24">
      <br><p class="a15"><b>About</b></p>
      <a href="https://easyeda.com/page/about" style="text-decoration: none; color: #7E7E93;"><p class="a16">About Team</p></a>
      <a href="https://www.youtube.com/channel/UCRoMhHNzl7tMW8pFsdJGUIA"><img src="assets/intern26.png"></a>
      &nbsp;&nbsp;<a href="https://twitter.com/EasyEDA"><img src="assets/intern27.png"></a>
    </div>

    <div class="top-left-25">
      <img src="assets/intern28.png">
    </div>
    <div class="top-left-26">
      <p>ICP13005967 © 2022 EasyEDA All rights reserved</p>
    </div>
  </div>
</div>
